/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 21, 2015, 3:33:58 PM
    Author     : uchilaka
*/
hr {
    padding: 0; margin: 0.5em 0; border-top: 1px solid #e8e8e8;    
}
body {
    font-size: 2em !important;
}
pre {
    overflow-x: scroll;
    word-wrap: normal !important;
    word-break: keep-all !important;
}
pre code {
    display: block;
    line-break: loose;
    white-space: pre;
}
a.btn:not(.btn-default) {
    color: #fff;
}
a.btn-default, a.btn {
    color: inherit;
}
.page-nav {
    margin: 1em 0;
}
.site-footer .contact-list>li {
    margin-bottom: 10px;
}
.block-bar {
    padding: 1em;
    display: block;
}
.text-centered {
    text-align: center;
}